version: '3.8'

services:
  db:
    image: supabase/postgres:17.4.1.054
    ports:
      - "5432:5432"
    command: postgres -c config_file=/etc/postgresql/postgresql.conf 
    environment:
      POSTGRES_PASSWORD: postgres
