name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release Please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          release-type: node

      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v6

      - name: Setup
        if: ${{ steps.release.outputs.release_created }}
        uses: ./.github/actions/setup

      - name: Publish
        if: ${{ steps.release.outputs.release_created }}
        run: pnpm publish
        